body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

img {
  /* 底部留白 */
  display: block;
  border:0;
}

b,strong {
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  /* 父元素字号的百分比 */
  font-size: 100%;
  font-weight: normal;
}

i,em {
  /* 不倾斜 */
  font-style: normal;
}

u,ins,s,del {
  /* 去掉中划线和下划线 */
  text-decoration: none;
}

table {
  border: 1px solid #999;
  /* 相当于是cellspacing */
  border-spacing: 0;
  /* 1px边框 */
  border-collapse: collapse;
}

td,th {
  border: 1px solid #999;
}

input,button {
  /* 去掉轮廓线 */
  outline: none;
  border:none;
}
select{
  border: 0;
}
/* 风格设置 */
body {
  font: 12px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color:#DD302D;
  text-decoration: none;
}

.leftfix {
  float: left;
}

.rightfix {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 1190px;
  margin: 0 auto;
}

/* #region-header */
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5B6D6D;
  height: 50px;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
  width: 160px;
  cursor: pointer;
}

header nav div {
  width: 25px;
  height: 25px;
}

header nav div:nth-child(1) {
  background-position: 0 2px;
  background-image: url("../imags/编辑模板.png");
  background-size: cover;
}

header nav div:nth-child(2) {
  background-image: url("../imags/地图.png");
  background-size: cover;
}

header nav div:nth-child(3) {
  background-image: url("../imags/放大镜.png");
  background-size: cover;
}
header nav div:nth-child(3).active{
  background-image: url("../imags/放大镜-选中.png");
}

header .container span:nth-of-type(1) {
  font-size: 20px;
  position: relative;
  left: 50px;
}

header .container span:nth-of-type(2) {
  margin-right: 150px;
  font-size: 14px;
  color: #999;
}


/* #endregion */

/* region-search */
.left {
  width: 250px;
  height: 580px;
  background-color: #94A0A2;
  display: flex;
  justify-content: center;
}

.search {
  position: relative;
}

.search-items {
  margin-top: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  display: none;
}
.search-items.active{
  display: flex;
}

.search-items div {
  height: 30px;
  line-height: 30px;
  width: 50px;
  color: #AFA7A7;
  background-color: #F1F1F1;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.search-items input {
  height: 30px;
  width: 120px;
  box-sizing: border-box;
  padding-left: 5px;
}

.search-items button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background: #BECE81 no-repeat url("../imags/放大镜.png") center / 15px;
}



/* search-list */
.search-list {
  width: 170px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 83px;
  left: 0;
  border-radius: 5px;
  display: none;
  /* opacity: 0; */
  /* transition: all 0.2s linear; */
}
.search-list.active{
  display: flex;
  /* opacity: 1; */
}

.search-list nav {
  width: 40px;
  display: flex;
  flex-direction: column;
}
.search-list nav span{
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  color: #AFA7A7;
}
.search-list nav span:hover{
  background-color: #F1F1F1;
  cursor:default;
  color: #374242;
}
.search-list div{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F1F1F1;
  flex: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.search-list div label{
  cursor: pointer;

  vertical-align: top;
  font-size: 13px;
  height: 20px;
  line-height: 20px;

}
.content .container{
  display: flex;
}
.bacc{
  width: 940px;
  height: 580px;
  background-image: url("../imags/background.jpg");
  background-size: cover;
}